<h1>Add a new Task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :detail %>
  <%= f.text_area :detail %>
  
  <%= f.submit %>
<% end %>

<hr>
<%= link_to "Back to the List", tasks_path %>